*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
ul,li{
    list-style: none;
}
/*-----------animaciones--------------*/
@keyframes imagen{
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes contenido-perfil1{
    0%{top:0;}
    25%{top:-100px}
    50%{top:-220px}
    75%{top:-100px}
    100%{top:0}
}
@keyframes contenido-perfil-responsive{
    0%{top:0;}
    25%{top:-65px;}
    50%{top:-130px}
    75%{top:-65px}
    100%{top:0}
}

@keyframes portada-presentacion{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*fin de animaciones*/

/*inicio menu flotante*/

.nav-munu-flotatnte{
    position: fixed;
    width: 20%;
    height: 100%;
}
.nav-munu-flotatnte .caja-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    padding-right: 10px;
    width: 45px;
    height: 55px;
    background-color: rgb(192, 177, 177);
    font-size: 15px;
    border-top-right-radius: 15px ;
}
.nav-munu-flotatnte .caja-nav a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.nav-munu-flotatnte .caja-nav i{
    font-size: 25px;
}
.nav-munu-flotatnte .caja-nav:hover{
    transition: all 0.5s ease; 
    width: 50px;
}
/*fin menu flotante*/

/*barra de navegacion*/
.caja-colapso{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0 5px;
    border-radius: 30px;
    border: 1px solid rgb(12, 12, 12);
}
.caja-colapso .redes{
    color: black !important;
}
.navegacion{
    background: rgba(17, 77, 117, 1);
   
}
.navegacion a i{
    font-size: 30px;
    border-radius: 50%;
}
.navegacion a{
    color: white !important;
}
.nombre-nav{
    font-family: cursive !important;
}

.menu-nav li a ,.hab{
    font-family: cursive !important;
    border-bottom: 2px solid transparent;
    color:white !important;
    
}
.menu-nav li a:hover , .hab:hover{
    border-bottom: 2px solid black;
}
/*fin barra navegacion*/
/*portada presentacion*/
.contenedor-portada{
    background-image: url('../img/business-2717063_1280.jpg');
    background-attachment: fixed;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.portada-presentacion{
     background: linear-gradient(45deg, rgba(6, 71, 102, 0.7), rgba(7, 67, 85, 0.7), rgba(91, 154, 184, 0.7),rgba(95, 133, 168, 0.7)); 
    height: 600px;
    /* animation: gradient 15s ease infinite; */
    /* animation: portada-presentacion 3s; */
}

.img-perfil{
    border-radius: 50%;
    animation:imagen 6s;
}
.img-perfil img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid transparent;
    box-shadow: 0 0 10px black;
}


.contenido-perfil1{
    height: 80px;
    padding: 2px 0;
    width: 320px;
    overflow: hidden;
    width: auto;

}
.contenido-perfil1 p{
    position: relative;
    animation:contenido-perfil1 5s infinite; 
    animation-delay: 2s;
    font-family:'Dancing Script', cursive;
    font-size: 60px;
    font-weight: 500;
}

/*Sobre mi*/
.sobre-mi{
    background:linear-gradient(#7510F7,#532196,#402a5e,#271c36);
    background-color: #7510F7;
    height: 670px;
    color: white;
}
/*fin sobre mi*/

/*Habilidades*/
.habilidades{
    margin-top: -14rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px black inset;
}

.habilidades h1{
    font-weight: 600;
}

.habilidades i{
    font-size: 60px;
}

.habilidades .parrafo{
    font-size: 18px;
    font-weight: 600;
    color: black;
    font-family: 'Josefin Slab', serif;
}
.habilidades .parrafo i{
    font-size: 35px;
}
.titulo-interno{
    color:#7510F7 !important;
    font-size: 20px;
    font-weight: 700;
}
/*fin habilidades*/

/*Trabajos*/
.proyectos{
    background-image: url('../img/dot-grid.png');
    background-repeat: repeat;
}
.card img{
    width: 100%;
    height: 100px;
    
}

.card-text i{
    font-size: 40px;
}
/*formulario de contacto*/
.form-contacto{
    height: 600px;
    transition: all 2s;
    background-color: rgb(25, 137, 189);
}
.form{
    width: 500px;
    margin: 0 auto;
}
.form .btn-form{
    width: 100%;
}
.form .btn-form:hover{
    background-color: rgb(255, 0, 98);
}

/*---footer---*/
.footer{
    background-color: rgba(17, 77, 117, 1);
    font-size: 20px;
}

/*mediaqueri*/
@media(max-width:991px) {
    .card-skill{
        border-bottom: 1px solid black;
        box-shadow: 0 0 10px black;
    }
}

@media(max-width:320px) {
    .card img{
        height: 250px !important;
    }
}
@media(max-width:767px) {
    .card{
        width: 30rem !important;
        height: 500px !important;
    }
    .card img{
        height: 300px;
    }
    .portada-presentacion{
        background: linear-gradient(-90deg, rgba(6, 71, 102, 0.7), rgba(7, 67, 85, 0.7), rgba(91, 154, 184, 0.7),rgba(95, 133, 168, 0.7)); 
    }
}
@media(max-width:519px){
    .form{
        width: 100%;
    }
}
@media(max-width:442px){
    .contenido-perfil1 p{
        font-size: 33px;
        animation: contenido-perfil-responsive 5s infinite;
        animation-delay: 2s;
    }
    .contenido-perfil1{
        width: 100%;
        height: 70px;
    }
    .titulo-portada{
        font-size: 50px;
    }
    .contenedor-portada,.portada-presentacion{
        background-size:100% 82%;
        height: 400px;
    }
    
}
